
#navbar{
	background-color: #088F8F;
}
#nav{
	color: #523819;
}

body{
	height: 150vh;
}



h2{
	margin-left:100px;
	font-size:140%;
	color:#0d3427;
	margin-top:10px;
	text-transform: uppercase;
}

table{
	margin-left:50px;
	background-color:#C1E1C1;
	border-color:#000;
	border-width:thin;
	border-collapse:collapse;
	width:75%;
}
				
th{
	border-color:#000;
	font-size:120%;
	color:#088F8F;
}
				
td{
	border-color:#000;
	font-size:100%;
	color:#000000;
	padding:5px;
}

#vehicleInOut{
	position: relative;
	float: left;
	margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
	position: absolute;
	left: 15px;
	top: 6.5cm;
	width: 500px;
}



#results{
	position:relative;
	float: right;
	right: 0px;
	
  
	
}

#vehicleImage{
	
	bottom: 20px;
	left: 0px;
	
}
#footer1 {
	margin-top: 10cm;
	bottom:0;
	}

#footer2 {
		margin-top: 6cm;
		bottom:0;
		}
	*{
		font-family: Arial;
	}
	